<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="header tblMenu">
                <table border="0" style="width: 100%; table-layout: fixed;">
                    <tr>
                        <td>
                            <h2>
                                <span style="color: white;">
                                    ログインユーザ一覧
                                </span>
                            </h2>
                        </td>
                    </tr>
                </table>
            </div>
            <div style="clear: right"></div>
            <!-- <table style="border-collapse: collapse; width: 100%">
                <tr>
                    <td valign="top">
                        <div class="body">
                            <form id="form_validation" method="POST" action="./failuresituation.html">
                                <table class="table table-bordered">
                                    <tbody>
                                        <tr>
                                            <td class="tblMenu">班</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        全て <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> <span class="fa fa-caret-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0);">全て1</a></li>
                                                        <li><a href="javascript:void(0);">全て2</a></li>
                                                        <li><a href="javascript:void(0);">全て3</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td class="tblMenu">組織(1)</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        全て <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> <span class="fa fa-caret-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0);">全て1</a></li>
                                                        <li><a href="javascript:void(0);">全て2</a></li>
                                                        <li><a href="javascript:void(0);">全て3</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td class="tblMenu">組織(2)</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        全て <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> <span class="fa fa-caret-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0);">全て1</a></li>
                                                        <li><a href="javascript:void(0);">全て2</a></li>
                                                        <li><a href="javascript:void(0);">全て3</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="tblMenu">組織(3)</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        全て <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> <span class="fa fa-caret-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0);">全て1</a></li>
                                                        <li><a href="javascript:void(0);">全て2</a></li>
                                                        <li><a href="javascript:void(0);">全て3</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td class="tblMenu">組織(4)</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        全て <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> <span class="fa fa-caret-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0);">全て1</a></li>
                                                        <li><a href="javascript:void(0);">全て2</a></li>
                                                        <li><a href="javascript:void(0);">全て3</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                            <td class="tblMenu">組織(5)</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                        全て <span class="caret"></span> <span class="sr-only">Toggle Dropdown</span> <span class="fa fa-caret-down"></span>
                                                    </button>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="javascript:void(0);">全て1</a></li>
                                                        <li><a href="javascript:void(0);">全て2</a></li>
                                                        <li><a href="javascript:void(0);">全て3</a></li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="dt_buttons" style="padding: 10px;">
                                    <span style="float: right; padding-right: 20px; padding-bottom: 20px;">
                                        <button type="button" class="btn btn-bg waves-effect" style="width: 80px;" data-dismiss="modal">検索</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </td>
                </tr>
            </table> -->
        <!-- </div>
        <div class="card"> -->
            <div class="body">
                <table style="width:100%;">
                    <tr>
                        <td style="width: 80%;">
                            <div class="dt_buttons" style="padding-bottom: 10px;">
                                <button type="button" class="btn btn-bg waves-effect" style="width: 80px;;margin-right: 3px" data-target="#registerModal" data-toggle="modal">新規</button>
                                <button type="button" class="btn btn-bg waves-effect" style="width: 80px;" data-target="#editModal" data-toggle="modal" [disabled]="!selectUid">編集</button>
                                <!-- <button type="button" class="btn btn-bg waves-effect">ロック解除</button>
                                <button type="button" class="btn btn-bg waves-effect" data-target="#csvModal" data-toggle="modal">CSV取込み</button> -->
                            </div>
                        </td>
                        <!-- <td style="width: 15%; text-align: right;">
                            <div class="dt_buttons" style="padding-bottom: 10px;">
                                <button type="button" class="btn btn-bg waves-effect" style="width: 80px;">検索</button>
                                <button type="button" class="btn btn-bg waves-effect" style="width: 80px;"  data-target="#outputModal">出力</button>
                            </div>
                        </td> -->
                    </tr>
                </table>
                <table class="table table-bordered table-striped table-hover js-basic-users dataTable">
                    <thead>
                        <tr class="tblMenu">
                            <th *ngFor="let Item of TableColItems">{{ Item }}</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr class="tblMenu">
                            <th *ngFor="let Item of TableColItems">{{ Item }}</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <!-- <tr>
                            <th><span><input name="group" type="radio" class="with-gap" id="radio_1" /><label for="radio_1"></label></span></th>
                            <th><div><i class="material-icons">check_circle</i></div></th>
                            <th>001</th>
                            <th>氏名一郎</th>
                            <th>ソリューション事業部</th>
                            <th></th>
                            <th>y-ebinuma@cpr-inc.jp</th>
                            <th></th>
                            <th>2017/11/10 10:11:12</th>
                        </tr>
                        <tr>
                            <th><div><i class="material-icons">check_circle</i></div></th>
                            <th>氏名二郎</th>
                            <th>カスタマサービス部</th>
                            <th>イノベーション部</th>
                            <th>SOマネジメント担当</th>
                            <th></th>
                            <th></th>
                            <th>情報統括班</th>
                            <th>2017/11/10 10:11:12</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>氏名三郎</th>
                            <th>カスタマサービス部</th>
                            <th>イノベーション部</th>
                            <th>SOマネジメント担当</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>2017/11/10 10:11:12</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>氏名四郎</th>
                            <th>カスタマサービス部</th>
                            <th>イノベーション部</th>
                            <th>SOマネジメント担当</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>2017/11/10 10:11:12</th>
                        </tr>
                        <tr>
                            <th><div><i class="material-icons">check_circle</i></div></th>
                            <th>氏名五郎</th>
                            <th>カスタマサービス部</th>
                            <th>イノベーション部</th>
                            <th>SOマネジメント担当</th>
                            <th></th>
                            <th></th>
                            <th>情報統括班</th>
                            <th>2017/11/10 10:11:12</th>
                        </tr>
                        <tr>
                            <th><div><i class="material-icons">check_circle</i></div></th>
                            <th>氏名六郎</th>
                            <th>カスタマサービス部</th>
                            <th>イノベーション部</th>
                            <th>SOマネジメント担当</th>
                            <th></th>
                            <th></th>
                            <th>情報統括班</th>
                            <th>2017/11/10 10:11:12</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>氏名七郎</th>
                            <th>カスタマサービス部</th>
                            <th>イノベーション部</th>
                            <th>SOマネジメント担当</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>2017/11/10 10:11:12</th>
                        </tr>
                        <tr>
                            <th><div><i class="material-icons">check_circle</i></div></th>
                            <th>氏名八郎</th>
                            <th>カスタマサービス部</th>
                            <th>イノベーション部</th>
                            <th>SOマネジメント担当</th>
                            <th></th>
                            <th></th>
                            <th>情報統括班</th>
                            <th>2017/11/10 10:11:12</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>氏名九郎</th>
                            <th>カスタマサービス部</th>
                            <th>イノベーション部</th>
                            <th>SOマネジメント担当</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>2017/11/10 10:11:12</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>氏名十郎</th>
                            <th>カスタマサービス部</th>
                            <th>イノベーション部</th>
                            <th>SOマネジメント担当</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>2017/11/10 10:11:12</th>
                        </tr>
                        <tr>
                            <th><div><i class="material-icons">check_circle</i></div></th>
                            <th>氏名十一郎</th>
                            <th>カスタマサービス部</th>
                            <th>イノベーション部</th>
                            <th>SOマネジメント担当</th>
                            <th></th>
                            <th></th>
                            <th>情報統括班</th>
                            <th>2017/11/10 10:11:12</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th>氏名十二郎</th>
                            <th>カスタマサービス部</th>
                            <th>イノベーション部</th>
                            <th>SOマネジメント担当</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th>2017/11/10 10:11:12</th>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header tblMenu" style="padding: 15px 15px 15px 15px;">
                        <ul class="header-dropdown" style="float: right; margin-bottom: 0;">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <i class="material-icons" style="font-size: 16pt; color: #FFFFFF;" title="閉じる" data-dismiss="modal">close</i>
                            </a>
                        </ul>
                        <h4 class="modal-title" id="largeModalLabel">
                            <span style="color: white;">新規ユーザー登録</span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <table style="border: none; width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="vertical-align: top;">
                                        <div class="card">
                                            <div class="body">
                                                <div class="dt_buttons" style="padding-bottom: 10px;">
                                                        <button type="button" class="btn btn-bg waves-effect" style="width:80px;margin-right: 3px;" (click)="signin()">登録</button>
                                                    <span style="float: right; padding-right: 20px;">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="body">
                                                    <div style="float:left;margin-top:20px;">ユーザ情報</div>
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <th class="tblMenu1" style="color:red;">社員番号※</th>
                                                            <td>
                                                                <input [(ngModel)]="No" type="text" class="form-control" style="width:40%;"/>
                                                                <div><span class="text-danger">必須項目です。</span></div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="tblMenu1" style="color:red;">スタッフ(漢字)※</th>
                                                            <td colspan="3">
                                                                <input [(ngModel)]="lastname" type="text" class="form-control" style="width:40%;display:inline;"/>
                                                                &nbsp;
                                                                <input [(ngModel)]="firstname" type="text" class="form-control" style="width:40%;display:inline;"/>
                                                                <div><span class="text-danger">必須項目です。</span></div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="tblMenu1" style="color:red;">メールアドレス※</th>
                                                            <td colspan="6">
                                                                <input [(ngModel)]="email" type="email" class="form-control" style="display:inline;"/>
                                                                <div><span class="text-danger">必須項目です。</span></div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="tblMenu1">部署</th>
                                                            <td colspan="3">
                                                                <select [(ngModel)]="department" class="form-control show-tick">
                                                                    <option>‐</option>
                                                                    <option>ソリューション事業部</option>
                                                                    <option>音楽事業部</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="tblMenu1">役職</th>
                                                            <td colspan="3">
                                                                <input [(ngModel)]="position" type="text" class="form-control" style="width:40%;display:inline;"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="tblMenu1">その他</th>
                                                            <td colspan="3">
                                                                <input [(ngModel)]="other" type="text" class="form-control" style="display:inline;"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="tblMenu1" style="color:red;">初期パスワード※</th>
                                                            <td colspan="3">
                                                                <input [(ngModel)]="password" type="text" class="form-control" style="display:inline;"/>
                                                                <div><span class="text-danger">必須項目です。6文字以上にしてください。</span></div>
                                                            </td>
                                                        </tr>
                                                        <!-- <tr>
                                                            <th class="tblMenu1"></th>
                                                            <td colspan="3"><textarea class="form-control no-resize auto-growth" style="width:100%;min-height:150px;"></textarea></td>
                                                        </tr> -->
                                                    </tbody>
                                                </table>
                                                <!-- <div>所属/連絡先</div>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th class="tblMenu2" style="color:red;">災対メンバ※</th>
                                                        <td><span><input type="checkbox" id="registerSel3" name="registerSel" class="filled-in" /><label for="registerSel3">(ON：メンバー、OFF：メンバー以外)</label></span></td>
                                                        <th class="tblMenu2">災対班コード</th>
                                                        <td>
                                                            <select id="multiSelectSample1" multiple="multiple" size="11" title="-">
                                                              <option value="option1">情報統括</option>
                                                              <option value="option2">サービス</option>
                                                              <option value="option3">設備</option>
                                                              <option value="option4">資材</option>
                                                              <option value="option5">お客様対応</option>
                                                              <option value="option6">総務厚生</option>
                                                              <option value="option7">広報</option>
                                                              <option value="option8">セキュリティ</option>
                                                              <option value="option9">社内システム</option>
                                                              <option value="option10">本部長支援</option>
                                                              <option value="option11">コムＧ連携</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu2">班の帰属区分</th>
                                                        <td>
                                                            <select class="form-control show-tick">
                                                                <option>‐</option>
                                                                <option>予備1</option>
                                                                <option>予備2</option>
                                                            </select>
                                                        </td>
                                                        <td colspan="2"></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu2" style="color:red;">組織(第1階層)※</th>
                                                        <td>
                                                            <select class="form-control show-tick">
                                                                <option>‐</option>
                                                                <option>予備1</option>
                                                                <option>予備2</option>
                                                            </select>
                                                        </td>
                                                        <th class="tblMenu2">組織(第2階層)</th>
                                                        <td>
                                                            <select class="form-control show-tick">
                                                                <option>‐</option>
                                                                <option>予備1</option>
                                                                <option>予備2</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu2">組織(第3階層)</th>
                                                        <td>
                                                            <select class="form-control show-tick">
                                                                <option>‐</option>
                                                                <option>予備1</option>
                                                                <option>予備2</option>
                                                            </select>
                                                        </td>
                                                        <th class="tblMenu2">組織(第4階層)</th>
                                                        <td>
                                                            <select class="form-control show-tick">
                                                                <option>‐</option>
                                                                <option>予備1</option>
                                                                <option>予備2</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu2">組織(第5階層)</th>
                                                        <td colspan="3">
                                                            <select class="form-control show-tick">
                                                                <option>‐</option>
                                                                <option>予備1</option>
                                                                <option>予備2</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu2">役職※</th>
                                                        <td colspan="3">
                                                            <select class="form-control show-tick">
                                                                <option>‐</option>
                                                                <option>予備1</option>
                                                                <option>予備2</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu2" style="color:red;">担当電話番号※</th>
                                                        <td><input type="text" class="form-control" style="width:100%;"/><div><span class="text-danger">必須項目です。</span></div></td>
                                                        <th class="tblMenu2">携帯電話番号</th>
                                                        <td><input type="text" class="form-control" style="width:100%;"/></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu2">担当FAX番号</th>
                                                        <td><input type="text" class="form-control" style="width:100%;"/></td>
                                                        <th class="tblMenu2">衛星携帯電話番号</th>
                                                        <td><input type="text" class="form-control" style="width:100%;"/></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu2" style="color:red;">メールアドレス※</th>
                                                        <td><input type="text" class="form-control" style="width:100%;"/><div><span class="text-danger">必須項目です。</span></div></td>
                                                        <th class="tblMenu2">携帯メールアドレス</th>
                                                        <td><input type="text" class="form-control" style="width:100%;"/></td>
                                                    </tr>
                                                </table>

                                                <div>アプリケーション使用権限</div>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th class="tblMenu4">メール連携使用フラグ</th>
                                                        <td colspan="3">
                                                            <div class="row clearfix">
                                                                <div class="col-md-1" style="margin-bottom:0px;">
                                                                    <input type="checkbox" id="registerSel6" name="registerSel" class="filled-in" /><label for="registerSel6"></label>
                                                                </div>
                                                                <div class="col-md-5" style="margin-bottom:0px;">
                                                                    <button type="button" class="btn btn-bg waves-effect" style="width:100px;" data-target="#mailModal" data-toggle="modal">端末初期化</button>
                                                                    <p>(userIdが発行されてから使用できます。)</p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th class="tblMenu5">危機管理DB使用権限</th>
                                                        <td colspan="3">
                                                            <select class="form-control show-tick">
                                                                <option>‐</option>
                                                                <option>システム管理者</option>
                                                                <option>組織管理者</option>
                                                                <option>一般</option>
                                                                <option>参照</option>
                                                                <option>モバコネ</option>
                                                            </select>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <div>その他</div>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th class="tblMenu7">災害対策員</th>
                                                        <td><span><input type="checkbox" id="registerSel9" name="registerSel" class="filled-in" /><label for="registerSel9" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel10" name="registerSel" class="filled-in" /><label for="registerSel10" style="padding-right: 10px;">MB</label></span></td>
                                                        <th class="tblMenu7">西日本初動本部員</th>
                                                        <td><span><input type="checkbox" id="registerSel13" name="registerSel" class="filled-in" /><label for="registerSel13" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel14" name="registerSel" class="filled-in" /><label for="registerSel14" style="padding-right: 10px;">MB</label></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu7">災害対策組織窓口</th>
                                                        <td><span><input type="checkbox" id="registerSel53" name="registerSel" class="filled-in" /><label for="registerSel53" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel54" name="registerSel" class="filled-in" /><label for="registerSel54" style="padding-right: 10px;">MB</label></span></td>
                                                        <th class="tblMenu7">全社電話会議呼出員</th>
                                                        <td><span><input type="checkbox" id="registerSel19" name="registerSel" class="filled-in" /><label for="registerSel19" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel20" name="registerSel" class="filled-in" /><label for="registerSel20" style="padding-right: 10px;">MB</label></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu7">設備班電話会議呼出員</th>
                                                        <td><span><input type="checkbox" id="registerSel23" name="registerSel" class="filled-in" /><label for="registerSel23" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel24" name="registerSel" class="filled-in" /><label for="registerSel24" style="padding-right: 10px;">MB</label></span></td>
                                                        <th class="tblMenu7">お客様対応班電話会議呼出員</th>
                                                        <td><span><input type="checkbox" id="registerSel51" name="registerSel" class="filled-in" /><label for="registerSel23" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel24" name="registerSel" class="filled-in" /><label for="registerSel24" style="padding-right: 10px;">MB</label></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu7">社内ｼｽﾃﾑ班電話会議呼出員</th>
                                                        <td><span><input type="checkbox" id="registerSel29" name="registerSel" class="filled-in" /><label for="registerSel29" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel30" name="registerSel" class="filled-in" /><label for="registerSel30" style="padding-right: 10px;">MB</label></span></td>
                                                        <th class="tblMenu7">広報班電話会議呼出員</th>
                                                        <td><span><input type="checkbox" id="registerSel33" name="registerSel" class="filled-in" /><label for="registerSel33" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel34" name="registerSel" class="filled-in" /><label for="registerSel34" style="padding-right: 10px;">MB</label></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu7">西日本初動本部電話会議呼出員</th>
                                                        <td><span><input type="checkbox" id="registerSel37" name="registerSel" class="filled-in" /><label for="registerSel37" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel38" name="registerSel" class="filled-in" /><label for="registerSel38" style="padding-right: 10px;">MB</label></span></td>
                                                        <th class="tblMenu7">ESCメール（国内）</th>
                                                        <td><span><input type="checkbox" id="registerSel41" name="registerSel" class="filled-in" /><label for="registerSel41" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel42" name="registerSel" class="filled-in" /><label for="registerSel42" style="padding-right: 10px;">MB</label></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu7">NTTG A級レポートメール</th>
                                                        <td><span><input type="checkbox" id="registerSel45" name="registerSel" class="filled-in" /><label for="registerSel45" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel46" name="registerSel" class="filled-in" /><label for="registerSel46" style="padding-right: 10px;">MB</label></span></td>
                                                        <th class="tblMenu7">NTTG  SFメール</th>
                                                        <td><span><input type="checkbox" id="registerSel49" name="registerSel" class="filled-in" /><label for="registerSel49" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel50" name="registerSel" class="filled-in" /><label for="registerSel50" style="padding-right: 10px;">MB</label></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu7">情報共有メンバ</th>
                                                        <td><span><input type="checkbox" id="registerSel11" name="registerSel" class="filled-in" /><label for="registerSel11" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel12" name="registerSel" class="filled-in" /><label for="registerSel12" style="padding-right: 10px;">MB</label></span></td>
                                                        <th class="tblMenu7">災害対策員全メンバ（情報共有メンバ含む）</th>
                                                        <td><span><input type="checkbox" id="registerSel15" name="registerSel" class="filled-in" /><label for="registerSel15" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel16" name="registerSel" class="filled-in" /><label for="registerSel16" style="padding-right: 10px;">MB</label></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu7">報連相送付メンバ</th>
                                                        <td><span><input type="checkbox" id="registerSel17" name="registerSel" class="filled-in" /><label for="registerSel17" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel18" name="registerSel" class="filled-in" /><label for="registerSel18" style="padding-right: 10px;">MB</label></span></td>
                                                        <th class="tblMenu7">サービス班電話会議呼出員</th>
                                                        <td><span><input type="checkbox" id="registerSel21" name="registerSel" class="filled-in" /><label for="registerSel21" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel22" name="registerSel" class="filled-in" /><label for="registerSel22" style="padding-right: 10px;">MB</label></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu7">資材班電話会議呼出員</th>
                                                        <td><span><input type="checkbox" id="registerSe51" name="registerSel" class="filled-in" /><label for="registerSe51" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel52" name="registerSel" class="filled-in" /><label for="registerSel52" style="padding-right: 10px;">MB</label></span></td>
                                                        <th class="tblMenu7">総務厚生班電話会議呼出員</th>
                                                        <td><span><input type="checkbox" id="registerSel27" name="registerSel" class="filled-in" /><label for="registerSel27" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel28" name="registerSel" class="filled-in" /><label for="registerSel28" style="padding-right: 10px;">MB</label></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu7">セキュリティ班電話会議呼出員</th>
                                                        <td><span><input type="checkbox" id="registerSel31" name="registerSel" class="filled-in" /><label for="registerSel31" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel32" name="registerSel" class="filled-in" /><label for="registerSel32" style="padding-right: 10px;">MB</label></span></td>
                                                        <th class="tblMenu7">本部支援電話会議呼出員</th>
                                                        <td><span><input type="checkbox" id="registerSel35" name="registerSel" class="filled-in" /><label for="registerSel35" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel36" name="registerSel" class="filled-in" /><label for="registerSel36" style="padding-right: 10px;">MB</label></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu7">VIPメール</th>
                                                        <td><span><input type="checkbox" id="registerSel39" name="registerSel" class="filled-in" /><label for="registerSel39" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel40" name="registerSel" class="filled-in" /><label for="registerSel40" style="padding-right: 10px;">MB</label></span></td>
                                                        <th class="tblMenu7">ESCメール（海外）</th>
                                                        <td><span><input type="checkbox" id="registerSel43" name="registerSel" class="filled-in" /><label for="registerSel43" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel44" name="registerSel" class="filled-in" /><label for="registerSel44" style="padding-right: 10px;">MB</label></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu7">NTTG A級速報</th>
                                                        <td><span><input type="checkbox" id="registerSel47" name="registerSel" class="filled-in" /><label for="registerSel47" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel48" name="registerSel" class="filled-in" /><label for="registerSel48" style="padding-right: 10px;">MB</label></span></td>
                                                        <th class="tblMenu7">コムG連携班電話会議呼出員</th>
                                                        <td><span><input type="checkbox" id="registerSel52" name="registerSel" class="filled-in" /><label for="registerSel47" style="padding-right: 10px;">PC</label></span><span><input type="checkbox" id="registerSel48" name="registerSel" class="filled-in" /><label for="registerSel48" style="padding-right: 10px;">MB</label></span></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu7">メモ</th>
                                                        <td colspan="3"><textarea class="form-control no-resize auto-growth" style="width:100%;min-height:150px;"></textarea></td>
                                                    </tr>
                                                </table>
                                                <div>登録情報</div>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th class="tblMenu8">登録日時 登録者</th>
                                                        <td colspan="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu8">登録理由</th>
                                                        <td colspan="3"><input type="text" class="form-control" style="width:100%;"/></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu8">更新日時 更新者</th>
                                                        <td colspan="3"></td>
                                                    </tr>
                                                    <tr>
                                                        <th class="tblMenu8">更新理由</th>
                                                        <td colspan="3"><input type="text" class="form-control" style="width:100%;"/></td>
                                                    </tr>
                                                </table> -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>

<section>
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header tblMenu" style="padding: 15px 15px 15px 15px;">
                        <ul class="header-dropdown" style="float: right; margin-bottom: 0;">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <i class="material-icons" style="font-size: 16pt; color: #FFFFFF;" title="閉じる" data-dismiss="modal">close</i>
                            </a>
                        </ul>
                        <h4 class="modal-title" id="largeModalLabel">
                            <span style="color: white;">ユーザー情報編集</span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <table style="border: none; width: 100%;">
                            <tbody>
                                <tr>
                                    <td style="vertical-align: top;">
                                        <div class="card">
                                            <div class="body">
                                                <div class="dt_buttons" style="padding-bottom: 15px;">
                                                    <button type="button" class="btn btn-bg waves-effect" style="width:80px;margin-right: 3px;" (click)=edit()>保存</button>
                                                    <button type="button" class="btn btn-bg waves-effect" style="width:80px;margin-right: 3px;" (click)=delete()>削除</button>
                                                    <!-- <button type="button" class="btn btn-bg waves-effect" data-target="#mailModelModal" data-toggle="modal">パスワードリセット</button> -->
                                                    <span style="float: right; padding-right: 20px;">
<!-- 															<button type="button" class="btn btn-bg waves-effect" style="width: 80px;" data-dismiss="modal">閉じる</button> -->
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="body">
                                                    <div style="float:left;margin-top:20px;">ユーザ情報</div>
                                                <table class="table table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <th class="tblMenu1" style="color:red;">社員番号※</th>
                                                            <td>
                                                                <input id="editNo" type="text" class="form-control" style="width:40%;display:inline;"/>
                                                                <div><span class="text-danger">必須項目です。</span></div>
                                                            </td>
<!-- 																<th class="tblMenu1">システム管理者権限</th> -->
<!-- 																<td><span><input type="checkbox" id="registerSel1" name="registerSel" class="filled-in" /><label for="registerSel1"></label></span></td> -->
                                                        </tr>
                                                        <tr>
                                                            <th class="tblMenu1" style="color:red;">スタッフ(漢字)※</th>
                                                            <td colspan="3">
                                                                <input id="editLastName" type="text" class="form-control" style="width:40%;display:inline;"/>&nbsp;<input id="editFirstName" type="text" class="form-control" style="width:40%;display:inline;"/>
                                                                <div><span class="text-danger">必須項目です。</span></div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="tblMenu1" style="color:red;">メールアドレス※</th>
                                                            <td colspan="6">
                                                                <input id="editEmail" type="text" class="form-control" style="display:inline;"/>
                                                                <div><span class="text-danger">必須項目です。</span></div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="tblMenu1">部署</th>
                                                            <td colspan="3">
                                                                <select id="editDepartment" class="form-control show-tick">
                                                                    <option>‐</option>
                                                                    <option>ソリューション事業部</option>
                                                                    <option>音楽事業部</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="tblMenu1">役職</th>
                                                            <td colspan="3">
                                                                <input id="editPosition" type="text" class="form-control" style="width:40%;display:inline;"/>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <th class="tblMenu1">その他</th>
                                                            <td colspan="3">
                                                                <input id="editOther" type="text" class="form-control" style="display:inline;"/>
                                                            </td>
                                                        </tr>
                                                        <!-- <tr>
                                                            <th class="tblMenu1"></th>
                                                            <td colspan="3"><textarea class="form-control no-resize auto-growth" style="width:100%;min-height:150px;"></textarea></td>
                                                        </tr> -->
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>